[
  {
    "relation": [
      "delegate_permission/common.handle_all_urls"
    ],
    "target": {
      "namespace": "android_app",
      "package_name": "wings.v",
      "sha256_cert_fingerprints": [
        "PUT_RELEASE_CERT_SHA256_HERE"
      ]
    }
  }
]

